## Class exercise:

Creating a data frame

In [3]:
import pandas as pd
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]
data={'Names':names, 'Woman':woman, 'Ages':ages, 'Country':country, 'Education':education}
friends=pd.DataFrame.from_dict(data)
friends

     Names  Woman  Ages  Country Education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

Creating a list of tuples, where each tuple is a pair (name,country), using comprehensions

In [ ]:
NameCountryList=

Implementation of a for loop to count how many peruvian there are in the data frame (using not in one solution and ~ in another one)

Implementing of a for loop to get the count of men (using not in one solution and ~ in another one)