## Class exercise #2:

Creating a data frame

In [2]:
import pandas as pd
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]
data={'Names':names, 'Woman':woman, 'Ages':ages, 'Country':country, 'Education':education}
friends=pd.DataFrame.from_dict(data)
friends

     Names  Woman  Ages  Country Education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

Creating a list of tuples, where each tuple is a pair (name,country), using comprehensions

In [31]:
listofTuples=[(n,c) for (n,c) in zip(friends.Names, friends.Country)] #using comprehension
listofTuples

[('Tomás', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

In [14]:
NameCountryList = list(zip(names,country)) #using zip function
NameCountryList

[('Tomás', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

Implementation of a for loop to count how many peruvian there are in the data frame

In [34]:
counterOfPeruvians=0 #counter: to calculate something we need to start a counter from 0

for country in friends.Country: #
    if country=='Peru':
        counterOfPeruvians +=1 #updating counter
        
#to see the results:
counterOfPeruvians

2

In [35]:
friends.where(friends.Country=='Peru').dropna().shape[0] #shapes (rows, columns) we are calling the rows by [0]

2

Implementing of a for loop to get the count of men (using not in one solution and ~ in another one)

In [37]:
counterOfMen=0 #counter

for x in friends.Woman:
    if x==False:
        counterOfMen +=1 #updating counter
        
#to see the results:
counterOfMen

4

In [38]:
counterOfMen=0 #counter

for woman in friends.Woman:
    if not woman:
        counterOfMen +=1 #updating counter
        
#to see the results:
counterOfMen

4

In [40]:
counterOfMen=0 #counter

for val in ~friends.Woman: # ~ tylda is reversing everything 
    if val: #Python doesnt need condition bcz its Boolean value, so by default it is looking for TRUE values 
        print(val) #can use val, can use man
        counterOfMen +=1 #updating counter
        
#to see the results:
counterOfMen

True
True
True
True

4