## Class exercise:

To create a data frame, we need to call pandas and rename it into pd

In [4]:
import pandas as pd

Create the collumns by creating the Python lists

In [5]:
names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

The next step is to create a dict

In [6]:
data={'Names':names, 'Woman':woman, 'Ages':ages, 'Country':country, 'Education':education}
data

{'Names': ['Tom치s', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana'],
 'Woman': [False, True, False, False, False, True],
 'Ages': [32, 33, 28, 30, 32, 27],
 'Country': ['Chile', 'Senegal', 'Spain', 'Norway', 'Peru', 'Peru'],
 'Education': ['Bach', 'Bach', 'Master', 'PhD', 'Bach', 'Master']}

From that dict we create data frame (DF) called friends

In [7]:
friends=pd.DataFrame.from_dict(data)
friends

     Names  Woman  Ages  Country Education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

### Queries:

1. Who is the oldest person in this group of friends?

In [8]:
friends[friends.Ages==max(friends.Ages)].Names

1    Pauline
Name: Names, dtype: object

2. How many people are 32?

In [9]:
len(friends[friends.Ages==32])

2

3. How many are not Peruvian? (use two different codes)

In [10]:
len(friends[friends.Country!="Peru"])

4

In [11]:
PeruOrigin=['Peru']
len(friends[~friends.Country.isin(PeruOrigin)])

4

4. Who is the person with the highest level of education?

In [12]:
toSort=["Education"]
Order=[True]
friends.sort_values(by=toSort,ascending=Order).tail(1).Names

3    Bjork
Name: Names, dtype: object

5. What is the sex of the oldest person in the group?

In [13]:
toSort=["Ages"]
Order=[False]
friends.sort_values(by=toSort,ascending=Order).tail(1).Woman

5    True
Name: Woman, dtype: bool