## Homework (Control of Execution in Python):

Creating a data frame

In [2]:
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

import pandas as pd

data={'Names':names, 'Woman':woman, 'Ages':ages, 'Country':country, 'Education':education}
friends=pd.DataFrame.from_dict(data)
friends

     Names  Woman  Ages  Country Education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

1. Implement a _for_ loop to get the count of men that have a Bach degree in the data frame. I recommend the use of **zip** (somewhere)

In [3]:
counterOfMenBach=0
for x in list(zip(friends.Woman,friends.Education)):
    if x==(False, 'Bach'):
        counterOfMenBach +=1
counterOfMenBach

2

In [4]:
#other way to do it, example from online class session

counterOfMenBach=0
for value in zip(friends.Woman,friends.Education):
    if (value[0]==False) & (value[1]=='Bach'): #separate elements in zipped pair
        counterOfMenBach +=1
counterOfMenBach

2

In [5]:
#other way to do it, example from online class session

counterOfMenBach=0
for value in zip(~friends.Woman,friends.Education): #using tylda
    if (value[0]==True) & (value[1]=='Bach'): #first element is TRUE - man
        counterOfMenBach +=1
counterOfMenBach

2

In [7]:
#other way to do it, example from online class session

counterOfMenBach=0
for value in zip(~friends.Woman,friends.Education):  #using tylda
    if (value[0]) & (value[1]=='Bach'): #there is no need to say TRUE, Python assumes it is TRUE
        counterOfMenBach +=1
counterOfMenBach

2

2. Implement a _for_ loop to get the count of people whose current age is an even number.

In [18]:
counterOfEvenAge=0
for x in friends.Ages:
    if x%2==0:
        counterOfEvenAge +=1
counterOfEvenAge

4