## Homework

Lets create a data frame as in the ex_data_structures file (Class 1 excercise 1)

In [52]:
import pandas as pd
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]
data={'Names':names, 'Woman':woman, 'Ages':ages, 'Country':country, 'Education':education}
friends=pd.DataFrame.from_dict(data)
friends

     Names  Woman  Ages  Country Education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

### Query:

Where is the youngest male in the group from?

In [53]:
#Find the answer using sort_values()
toSort=["Ages"]
Order=[False]
friends[friends.Woman==False].sort_values(by=toSort,ascending=Order).tail(1).Names

2    Pablo
Name: Names, dtype: object

In [58]:
friends[['Woman','Ages']]

   Woman  Ages
0  False    32
1   True    33
2  False    28
3  False    30
4  False    32
5   True    27

In [65]:
#Find the answer using where() and min()
 
friendsmale=friends.where(friends['Woman'] == False) 
friendsmale[friendsmale.Ages==min(friends2.Ages)].Names

2    Pablo
Name: Names, dtype: object

In [68]:
#Find the answer using query() and min()

friends.query('Woman'== False)
#friendsmale[friendsmale.Ages==min(friends2.Ages)].Names

ValueError: expr must be a string to be evaluated, <class 'bool'> given